<mat-toolbar>
  <span>Patinha Feliz</span>
  <div class="logo">
    <img src="/assets/img/pata-gato.svg" alt="" />
  </div>

  <span class="example-spacer"></span>
  <button
    mat-fab
    color="secondary"
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
  >
    <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['/new']"
    routerLinkActive="router-link-active"
  >
    <mat-icon>add</mat-icon> Novo funcionário
  </button>
</mat-toolbar>
