<nav id="toolbar">
  <button mat-raised-button color="secondary" [routerLink]="['/']" routerLinkActive="router-link-active">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-raised-button color="accent" [routerLink]="['/sells']" routerLinkActive="router-link-active">
    <mat-icon>view_list</mat-icon>
    Vendas
  </button>
  <button mat-raised-button color="secondary" [routerLink]="['/info']" routerLinkActive="router-link-active">
    <mat-icon>mode_comment</mat-icon> Info do projeto
  </button>
</nav>
